@model IEnumerable<Recipe>

<table>
    <tr>
        <th style="width:300px">Recipe Name</th>
        <th style="width:600px">Ingredients</th>
    </tr>

    @foreach (var recipe in Model)
    {
        <tr>
            <td>@recipe.Name</td>
            <td>@recipe.Ingredients</td>
            <td>
                <a asp-action="Details" asp-route-id="@recipe.ID">Details</a> 
            </td>
        </tr>
    }
</table>

<a asp-action="Add">Add a New Recipe</a>

